.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*.iml
*.ipr
*.iws
*.log
.DS_Store
.history
.idea/
.idea_modules/
build/
classes
gradlew.bat
out
src_managed/
target/
war
